{%extends "baseadmin.html"%}
{%block content%}

        <!-- Page Content  -->
    <center>
      <h1>View Breakfast Orders</h1>
      <table border = 1 width="95%">
           <thead>
              <td width="20%"><center>Date</center></td>
              <td width="15%"><center>Name</center></td>
              <td width="25%"><center>Email</center></td>
              <td width="8%"><center>Burger</center></td>
              <td width="8%"><center>Cheese</center></td>
              <td width="8%"><center>Bacon</center></td>
              <td width="8%"><center>Hashbrown</center></td>
           </thead>
           
           {% for row in rows %}
              <tr>
                 <td><center>{{row["date"]}}</center></td>
                 <td><center>{{row["name"]}}</center></td>
                 <td><center>{{row["email"]}}</center></td>
                 <td><center>{{row['burger']}}</center></td>
                 <td><center>{{row['cheese']}}</center></td>  
                 <td><center>{{row['bacon']}}</center></td>  
                 <td><center>{{row['hashbrown']}}</center></td>  
              </tr>
           {% endfor %}
        </table>

        <br>

        <div class="col-sm-6"> 
            <a class="btn btn-dark" href="admin" role="button"style="font-size : 20px; width: 200px; height: 50px;">
            Return Home</a>
          </div>
      </center>
      
{%endblock%}