{%extends "base.html"%}
{%block content%}
<center><h1 class="mb-4">WELCOME TO STUDENT COUNCIL SALES</h1></center>

<center>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-dark" href="orderbreakfast" role="button"style="font-size : 20px; width: 200px; height: 50px;">
      Breakfast Order</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-dark" href="ordertea" role="button"style="font-size : 20px; width: 200px; height: 50px;">
      Bubble Tea Order</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-dark" href="orderlunch" role="button"style="font-size : 20px; width: 200px; height: 50px;">
      Lunch Order</a>
    </div>
  </div>
</center>

  <br>
  <br>
<center><h1 class="mb-4">Announcements</h1></center>
</div>
</div>

{%endblock%}